/notebooks/videos/
/notebooks/images/
/notebooks/dataset/
.idea
/01_ТЗ_Анапа.pdf
/ЛЦТ.Краснодар_шаблон презнтации.pptx
/train.zip
/train/
/notebooks/train/

#ignore datasets folder
/datasets_processing/data
/data_clf

/runs

# ignore data
data_clf
data_clf_split
data/mini
*.zip

# ignore models
runs
notebooks/lightning_logs
*.pt
