[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu117"
verify_ssl = true
name = "downloadpytorch"

[packages]
sqlalchemy = "==2.0.23"
fastapi = "==0.104.1"
python-dotenv = "==1.0.0"
psycopg2-binary = "==2.9.9"
boto3 = "==1.28.79"
aiokafka = "==0.8.1"
torch= "==1.13.1+cu117"
torchvision= "==0.14.1+cu117"
torchaudio= "==0.13.1+cu117"
pydantic = "==1.10.9"
python-multipart = "==0.0.6"
rarfile = "==4.1"
ultralytics = "*"
numpy = "*"
opencv-python-headless = "==4.8.1.78"
anyio = "==3.7.1"
async-timeout = "==4.0.3"
botocore = "==1.31.79"
click = "==8.1.7"
colorama = "==0.4.6"
exceptiongroup = "==1.1.3"
greenlet = "==3.0.1"
h11 = "==0.14.0"
idna = "==3.4"
jmespath = "==1.0.1"
kafka-python = "==2.0.2"
packaging = "==23.2"
python-dateutil = "==2.8.2"
s3transfer = "==0.7.0"
six = "==1.16.0"
sniffio = "==1.3.0"
starlette = "==0.27.0"
typing-extensions = "==4.8.0"
urllib3 = "==2.0.7"
uvicorn = {extras = ["standard"], version = "*"}
pyyaml = "*"
lapx = "==0.5.5"

[dev-packages]
ipykernel = "*"
pyclean = "*"
mypy = "*"
mypy-extensions = "*"
pydocstyle = "*"
bandit = "*"
flake8 = "*"
flake8-coding = "*"
types-waitress = "*"
types-pyyaml = "*"

[requires]
python_version = "3.10"
