// OMK brand colors


// $primary: rgb(124, 0, 42);
$primary: rgb(0, 124, 255);
$secondary : rgb(141, 142, 145);
$accent: rgb(223, 10, 107);
// $accent : rgb(225, 37, 27);

$dark : rgb(26, 34, 44);
$dark-page : rgb(26, 34, 44);

$positive : rgb(0, 124, 0);
$negative : rgb(225, 37, 27);
$info : rgb(0, 124, 255);
$warning : rgb(240, 128, 0);
